.app {
  display: flex;
  justify-content: center;
  background: rgb(241, 241, 241);
}

.main { 
  width: 80%;
  border:  2px solid red;
  margin-top: 50px;
  /* height: 100vh; */
}

.tab-group { 
  border: 2px solid red;
  display: flex;
  padding: 10px;
}

.tab-group__tabs {
  cursor: pointer
}

.tab-group__tabs + .completed-tab {
  padding-left: 10px;
}

.todo-list-group {
  background: white;
  border: 1px solid rgb(233, 231, 231);
  box-shadow: 5px 5px 14px -10px rgba(51,51,51,1);

  margin: 0% 5% 0% 5% ;
  width: 55%;
  /* height: 700px; */
  border-radius: 15px;
}

.bold {
  font-weight: bold;
}

.date-todo-count-container {
  border: 2px solid red;
  margin: 0% 5% 0% 5% ;

  width: 25%;
}

.date-card { 
  border: 1px solid rgb(233, 231, 231);
  box-shadow: 5px 5px 14px -10px rgba(51,51,51,1);
  border-radius: 15px;
  height: 150px;
  min-width: 225px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.date-card > p {
  margin: 0;
  margin-left: 10px;
}
.date-card-day, .date-card-year {
  font-size: 1.75rem;
  color: #545454
}
.date-card-month-year {
   font-size: 2.25rem;
   color: #1f1f1f;
}

.todo-count-card {
  border: 1px solid rgb(233, 231, 231);
  box-shadow: 5px 5px 14px -10px rgba(51,51,51,1);
  margin-top: 30px;
  min-width: 165px;
  height: 180px;
  width: 65%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-count-card > p {
  margin: 0;
}

.todo-count {
  font-weight: 800; 
  color: #265a88;
  font-size: 4rem;
}

.todo-tasks {
  font-weight: 500;
  font-size: 1.12rem;
}
