html {
  background: url(../Assets/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.app {
  display: flex;
  justify-content: center;
}

/******** Main layout ************/

.main-container {
  display: flex;
  width: 80%;
}
@media(max-width: 768px) {
  .main-container {
    width: 95%;
  }
}

.main-layout {
  display: flex; 
  flex-wrap: wrap;
   width: 100%;
}
.main-tab-container {
  width: 100%;
}
@media(max-width: 768px) {
  .main-tab-container {
    order: 2
  }
}

.main-todo-list-container {
  width: 70%; 
}
@media(max-width: 768px) {
  .main-todo-list-container{
    order: 2;
    width: 100%;
  }
}

.main-date-count-container {
  width: 30%; 
  z-index: -10;
}
@media(max-width: 768px) {
  .main-date-count-container {
    order: 1;
    width: 100%;
    margin-top: 15px;
  }
}
/*******************************/

.bold {
  font-weight: bold;
}

.add-btn-container {
  display: flex;
  justify-content: flex-end;
}

.react-datepicker-popper {
  opacity: 1 !important;
  background: white;
  /* z-index: 99999 !important; */
  /* background: red !important; */
}
.react-datepicker {
  background: white !important;
}


